.modal-enemy-info__loot-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.922414px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
