.modal-enemy-info__window {
    display: flex;
    flex-direction: column;
    width: 600px;
    background: #141416;
    border-radius: 24px;
    padding: 48px 42px 30px 66px;
    z-index: 3;
    border: 2px solid #FFFFFF;
}

@media (max-width: 670px) {
    .modal-enemy-info__window {
        width: 95%;
        left: 2.5%;
        padding: 30px 33px 30px 33px;
    }
}
