.modal-enemy-info__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 11px;
}

@media (max-width: 670px) {
    .modal-enemy-info__header {
        flex-direction: column-reverse;
        gap: 6px;
    }
}
