body {
    background: url(../../img/svg/background.svg) no-repeat;
    background-size: 100%;
    background-color: black !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}
