.text-input__label {
    margin-bottom: 6px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #858A9C;

    span {
        color: #00A460;
    }
}
