@import "../../mixins";
.text-input__input {
    border: 0px;
    background: #F6F6F6;
    border-radius: 4px;
    padding: 12px 19px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #000000;

    @include placeholder {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #858A9C;
        text-align: center;
    }

    @media (max-width: 530px) {
        padding: 12px 12px;
        @include placeholder {
            font-size: 10px;
        }
    }

    @media (max-width: 364px) {
        padding: 12px 10px;

        @include placeholder {
            font-size: 9px;
        }
    }
}
