.text-inputs-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

@media (max-width: 1485px) {
    .text-inputs-column {
        width: 80%;
    }
}

@media (max-width: 530px) {
    .text-inputs-column {
        width: 90%;
    }
}
