.enemy-card__info__stats__name {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.922414px;
    color: #FFFFFF;
    margin-right: 8.22px;
}
