.pagination {
    display: flex;
    align-items: center;
    border: 1.5px solid rgba(255, 53, 68, 0.57);
    border-radius: 3.48175px;
    height: 37px;
    padding: 0px 13.5px 0px 13.5px;
    margin-bottom: 74px;
}
