.battle-window__log-button {
    cursor: pointer;
    background-color: transparent;
    padding: 5px 19px;
    margin-bottom: 22px;
    border: 1px solid #FFFFFF;
    border-radius: 3.48175px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
}
